<div>
  <label for="name">Name</label>
  <input type="text" id="name" />
</div>
<div>
  <label for="disc">Description</label>
  <input type="text" id="disc" />
</div>
<div>
  <label for="time-min">Time min</label>
  <input type="text" id="time-min" />
</div>
<div>
  <label for="time-max">Time max</label>
  <input type="text" id="time-max" />
</div>
<div>
  <label for="choose-type">Choose type</label>
  <select name="choose-type" id="choose-type">
    <option>FE</option>
    <option>BE</option>
  </select>
</div>
<div>
  <button>Save</button>
  <button>Delete</button>
  <button>Edit</button>
</div>
